<a href="https://colab.research.google.com/github/kemeni23/Urban-Tree-Management-and-Irrigation-Optimization/blob/main/wetterstation_uni.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
%cd /content/drive/My Drive/techlabs data/wetterstationen/Universitaet

/content/drive/My Drive/techlabs data/wetterstationen/Universitaet

In [ ]:
import pandas as pd
import glob
import os
import numpy as np

In [ ]:
# reading the .csv files

df1 = pd.read_csv('/content/drive/My Drive/techlabs data/wetterstationen/Universitaet/Universität_Wetter_2012.csv', sep=';', decimal=",")
df2 = pd.read_csv('/content/drive/My Drive/techlabs data/wetterstationen/Universitaet/Universität_Wetter_2013.csv', sep=';', decimal=",")
df3 = pd.read_csv('/content/drive/My Drive/techlabs data/wetterstationen/Universitaet/Universität_Wetter_2014.csv', sep=';', decimal=",")
df4 = pd.read_csv('/content/drive/My Drive/techlabs data/wetterstationen/Universitaet/Universität_Wetter_2015.csv', sep=';', decimal=",")
df5 = pd.read_csv('/content/drive/My Drive/techlabs data/wetterstationen/Universitaet/Universität_Wetter_2016.csv', sep=';', decimal=",")
df6 = pd.read_csv('/content/drive/My Drive/techlabs data/wetterstationen/Universitaet/Universität_Wetter_2017.csv', sep=';', decimal=",")
df7 = pd.read_csv('/content/drive/My Drive/techlabs data/wetterstationen/Universitaet/Universität_Wetter_2018.csv', sep=';', decimal=",")
df8 = pd.read_csv('/content/drive/My Drive/techlabs data/wetterstationen/Universitaet/Universität_Wetter_2019.csv', sep=';', decimal=",")
df9 = pd.read_csv('/content/drive/My Drive/techlabs data/wetterstationen/Universitaet/Universität_Wetter_2020.csv', sep=';', decimal=",")

In [ ]:
# concatenating the .scv files

df_Uni = pd.concat((df1, df2, df3, df4, df5, df6, df7, df8, df9), ignore_index=True)

In [ ]:
print(df_Uni)

           Datum  Tmin Tmit Tmax Sges Rges  Tbod  RFmin  RFmit  RFmax Wmit  \
0     01.01.2012   NaN  NaN  NaN  NaN  NaN   NaN    NaN    NaN    NaN  NaN
1     02.01.2012   NaN  NaN  NaN  NaN  NaN   NaN    NaN    NaN    NaN  NaN
2     03.01.2012   NaN  NaN  NaN  NaN  NaN   NaN    NaN    NaN    NaN  NaN
3     04.01.2012   NaN  NaN  NaN  NaN  NaN   NaN    NaN    NaN    NaN  NaN
4     05.01.2012   NaN  NaN  NaN  NaN  NaN   NaN    NaN    NaN    NaN  NaN
...          ...   ...  ...  ...  ...  ...   ...    ...    ...    ...  ...
3283  27.12.2020   3,9  4.6  5,8    0  6,5   3.2   75.0   82.5   91.0   25
3284  28.12.2020   1,5  4.1  5,8  2,3  0,6  -0.4   81.0   91.6  100.0    9
3285  29.12.2020  -2,1  1.7    5  0,1    0  -3.8   82.0   93.4  100.0    6
3286  30.12.2020     0  3.2  4,9    0  2,8  -2.1   84.0   92.6  100.0    8
3287  31.12.2020   1,4  2.5  3,8    0  2,7   0.5   88.0   98.5  100.0    8

     WBmax
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
...    ...
3283    76
3284    31
3285    33
3286    30
3287    26

[3288 rows x 12 columns]

In [ ]:
# dropping unnecessary columns

df_Uni.drop(['Tmin', 'Tmax', 'Tbod', 'RFmin', 'RFmit', 'RFmax', 'Wmit', 'WBmax'], axis=1, inplace=True)

In [ ]:
print(df_Uni)

           Datum Tmit Sges Rges
0     01.01.2012  NaN  NaN  NaN
1     02.01.2012  NaN  NaN  NaN
2     03.01.2012  NaN  NaN  NaN
3     04.01.2012  NaN  NaN  NaN
4     05.01.2012  NaN  NaN  NaN
...          ...  ...  ...  ...
3283  27.12.2020  4.6    0  6,5
3284  28.12.2020  4.1  2,3  0,6
3285  29.12.2020  1.7  0,1    0
3286  30.12.2020  3.2    0  2,8
3287  31.12.2020  2.5    0  2,7

[3288 rows x 4 columns]

In [ ]:
# renaming columns

df_Uni = df_Uni.rename(columns = {'Datum' : 'Datum', 'Tmit' :'Tmit_Uni',
'Sges' : 'Sges_Uni', 'Rges' : 'Rges_Uni',})

In [ ]:
# checking dtypes

print (df_Uni.dtypes)

Datum       object
Tmit_Uni    object
Sges_Uni    object
Rges_Uni    object
dtype: object

In [ ]:
# converting objects to floats

df_Uni['Tmit_Uni'] = pd.to_numeric(df_Uni['Tmit_Uni'], errors='coerce')
df_Uni['Sges_Uni'] = pd.to_numeric(df_Uni['Sges_Uni'], errors='coerce')
df_Uni['Rges_Uni'] = pd.to_numeric(df_Uni['Rges_Uni'], errors='coerce')

In [ ]:
# checking dtypes again

print (df_Uni.dtypes)

Datum        object
Tmit_Uni    float64
Sges_Uni    float64
Rges_Uni    float64
dtype: object

In [ ]:
# calculating monthly averages

df_Uni = df_Uni.groupby(pd.PeriodIndex(df_Uni['Datum'], freq="M"))['Tmit_Uni','Sges_Uni','Rges_Uni'].mean()

<ipython-input-27-04af8a43a034>:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_Uni = df_Uni.groupby(pd.PeriodIndex(df_Uni['Datum'], freq="M"))['Tmit_Uni','Sges_Uni','Rges_Uni'].mean()
<ipython-input-27-04af8a43a034>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_Uni = df_Uni.groupby(pd.PeriodIndex(df_Uni['Datum'], freq="M"))['Tmit_Uni','Sges_Uni','Rges_Uni'].mean()

In [ ]:
print(df_Uni)

          Tmit_Uni  Sges_Uni  Rges_Uni
Datum
2012-01  12.155556      0.00  0.000000
2012-02  12.211111       NaN  0.000000
2012-03  12.122222      2.25  1.000000
2012-04  11.048148      4.00  0.000000
2012-05  14.907143      4.25  0.000000
...            ...       ...       ...
2020-08  17.158065      0.00       NaN
2020-09  14.953333       NaN  0.000000
2020-10  11.867742       NaN  0.000000
2020-11   9.070000      0.00  1.000000
2020-12   8.725806      0.10  0.777778

[108 rows x 3 columns]

In [ ]:
# adding coordinates

df_Uni["Latitude"] = 51.19
df_Uni["Longitude"] = 6.80

In [ ]:
print(df_Uni)

          Tmit_Uni  Sges_Uni  Rges_Uni  Latitude  Longitude
Datum
2012-01  12.155556      0.00  0.000000     51.19        6.8
2012-02  12.211111       NaN  0.000000     51.19        6.8
2012-03  12.122222      2.25  1.000000     51.19        6.8
2012-04  11.048148      4.00  0.000000     51.19        6.8
2012-05  14.907143      4.25  0.000000     51.19        6.8
...            ...       ...       ...       ...        ...
2020-08  17.158065      0.00       NaN     51.19        6.8
2020-09  14.953333       NaN  0.000000     51.19        6.8
2020-10  11.867742       NaN  0.000000     51.19        6.8
2020-11   9.070000      0.00  1.000000     51.19        6.8
2020-12   8.725806      0.10  0.777778     51.19        6.8

[108 rows x 5 columns]

In [ ]:
df_Uni.to_csv('df_Uni.csv', sep=',', index=True, encoding='utf-8')