<a href="https://colab.research.google.com/github/kemeni23/Urban-Tree-Management-and-Irrigation-Optimization/blob/main/wetterstation_city.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
%cd /content/drive/My Drive/techlabs data/wetterstationen/City

/content/drive/My Drive/techlabs data/wetterstationen/City

In [ ]:
import pandas as pd
import glob
import os
import numpy as np

In [ ]:
# reading the .csv files

df1 = pd.read_csv('/content/drive/My Drive/techlabs data/wetterstationen/City/City_Wetter_2012.csv', sep=';', decimal=",")
df2 = pd.read_csv('/content/drive/My Drive/techlabs data/wetterstationen/City/City_Wetter_2013.csv', sep=';', decimal=",")
df3 = pd.read_csv('/content/drive/My Drive/techlabs data/wetterstationen/City/City_Wetter_2014.csv', sep=';', decimal=",")
df4 = pd.read_csv('/content/drive/My Drive/techlabs data/wetterstationen/City/City_Wetter_2015.csv', sep=';', decimal=",")
df5 = pd.read_csv('/content/drive/My Drive/techlabs data/wetterstationen/City/City_Wetter_2016.csv', sep=';', decimal=",")
df6 = pd.read_csv('/content/drive/My Drive/techlabs data/wetterstationen/City/City_Wetter_2017.csv', sep=';', decimal=",")
df7 = pd.read_csv('/content/drive/My Drive/techlabs data/wetterstationen/City/City_Wetter_2018.csv', sep=';', decimal=",")
df8 = pd.read_csv('/content/drive/My Drive/techlabs data/wetterstationen/City/City_Wetter_2019.csv', sep=';', decimal=",")
df9 = pd.read_csv('/content/drive/My Drive/techlabs data/wetterstationen/City/City_Wetter_2020.csv', sep=';', decimal=",")

In [ ]:
# concatenating the .scv files

df_City = pd.concat((df1, df2, df3, df4, df5, df6, df7, df8, df9), ignore_index=True)

In [ ]:
print(df_City)

           Datum  Tmin  Tmit  Tmax Sges  Rges Tbod  RFmin  RFmit  RFmax  Wmit  \
0     01.01.2012  10.4  12.1  14.7  0.0   5.7  9.9   77.0   94.2  100.0    15
1     02.01.2012   5.0   8.3  14.6  0.0   3.0  3.4   77.0   88.6   97.0    14
2     03.01.2012   4.8   8.2  12.4  0.0   2.8  2.8   68.0   78.3   92.0    22
3     04.01.2012   5.6   6.8   7.7  0.7   5.7  4.3   69.0   76.4   90.0    23
4     05.01.2012   3.3   7.0   9.2  0.5  17.4  2.1   64.0   84.7   97.0    26
...          ...   ...   ...   ...  ...   ...  ...    ...    ...    ...   ...
3003  27.12.2020   4.3   4.9   5.8  0.0   9.3  3.1   73.0   79.7   89.0    20
3004  28.12.2020   2.5   4.4   6.0  2.5   0.6 -0.5   78.0   88.1   96.0    10
3005  29.12.2020   0.0   2.9   5.1  0.1   0.0 -3.8   78.0   88.0   99.0    10
3006  30.12.2020   2.9   4.2   5.2  0.0   3.4 -0.1   79.0   86.3   92.0    12
3007  31.12.2020   2.3   3.0   4.5  0.0   2.4  1.0   82.0   94.3   98.0     9

     WBmax
0       59
1       67
2       87
3       74
4       81
...    ...
3003    67
3004    35
3005    37
3006    35
3007    33

[3008 rows x 12 columns]

In [ ]:
# dropping unnecessary columns

df_City.drop(['Tmin', 'Tmax', 'Tbod', 'RFmin', 'RFmit', 'RFmax', 'Wmit', 'WBmax'], axis=1, inplace=True)

In [ ]:
print(df_City)

           Datum  Tmit Sges  Rges
0     01.01.2012  12.1  0.0   5.7
1     02.01.2012   8.3  0.0   3.0
2     03.01.2012   8.2  0.0   2.8
3     04.01.2012   6.8  0.7   5.7
4     05.01.2012   7.0  0.5  17.4
...          ...   ...  ...   ...
3003  27.12.2020   4.9  0.0   9.3
3004  28.12.2020   4.4  2.5   0.6
3005  29.12.2020   2.9  0.1   0.0
3006  30.12.2020   4.2  0.0   3.4
3007  31.12.2020   3.0  0.0   2.4

[3008 rows x 4 columns]

In [ ]:
# renaming columns

df_City = df_City.rename(columns = {'Datum' : 'Datum', 'Tmit' :'Tmit_City',
'Sges' : 'Sges_City', 'Rges' : 'Rges_City',})

In [ ]:
# checking dtypes

print (df_City.dtypes)

Datum         object
Tmit_City    float64
Sges_City     object
Rges_City     object
dtype: object

In [ ]:
# converting objects to floats

df_City['Sges_City'] = pd.to_numeric(df_City['Sges_City'], errors='coerce')
df_City['Rges_City'] = pd.to_numeric(df_City['Rges_City'], errors='coerce')

In [ ]:
# checking dtypes again

print (df_City.dtypes)

Datum         object
Tmit_City    float64
Sges_City    float64
Rges_City    float64
dtype: object

In [ ]:
# calculating monthly averages

df_City = df_City.groupby(pd.PeriodIndex(df_City['Datum'], freq="M"))['Tmit_City','Sges_City','Rges_City'].mean()

<ipython-input-16-debd9e38d907>:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_City = df_City.groupby(pd.PeriodIndex(df_City['Datum'], freq="M"))['Tmit_City','Sges_City','Rges_City'].mean()
<ipython-input-16-debd9e38d907>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_City = df_City.groupby(pd.PeriodIndex(df_City['Datum'], freq="M"))['Tmit_City','Sges_City','Rges_City'].mean()

In [ ]:
print(df_City)

         Tmit_City  Sges_City  Rges_City
Datum
2012-01   6.125806   4.087097   2.006452
2012-02   7.758621   2.527586   1.020690
2012-03  10.754839   5.758065   1.606452
2012-04  10.693333   4.923333   2.816667
2012-05  14.277419   7.806452   2.712903
...            ...        ...        ...
2020-08  17.687097   4.522581   1.758065
2020-09  15.470000   6.106667   2.383333
2020-10  12.264516   2.741935   1.867742
2020-11   9.566667   4.063333   1.263333
2020-12   9.300000   3.464516   1.693548

[108 rows x 3 columns]

In [ ]:
# adding coordinates

df_City["Latitude"] = 51.24
df_City["Longitude"] = 6.79

In [ ]:
print(df_City)

         Tmit_City  Sges_City  Rges_City  Latitude  Longitude
Datum
2012-01   6.125806   4.087097   2.006452     51.24       6.79
2012-02   7.758621   2.527586   1.020690     51.24       6.79
2012-03  10.754839   5.758065   1.606452     51.24       6.79
2012-04  10.693333   4.923333   2.816667     51.24       6.79
2012-05  14.277419   7.806452   2.712903     51.24       6.79
...            ...        ...        ...       ...        ...
2020-08  17.687097   4.522581   1.758065     51.24       6.79
2020-09  15.470000   6.106667   2.383333     51.24       6.79
2020-10  12.264516   2.741935   1.867742     51.24       6.79
2020-11   9.566667   4.063333   1.263333     51.24       6.79
2020-12   9.300000   3.464516   1.693548     51.24       6.79

[108 rows x 5 columns]

In [ ]:
df_City.to_csv('df_City.csv', sep=',', index=True, encoding='utf-8')